.PostsTitle {
    margin-bottom: 20px;
}

.PostsTitleButton {
    cursor: pointer;
    font-size: 0.9em;
    color: #3177b1;
    border: 0;
    background-color: #fff;
    margin: 0px 0px 15px -73%;
}