.loginForm {
    font-family: Gill Sans, sans-serif;
}

.adminPanel {
    margin: 20px 0 26px 0;
}

.loginFormInput {
    margin: 4px 0 5px 0;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 6px;
    padding: 4px 40px 4px 8px;
}

.btnLogin {
    border-radius: 12px;
    border: 1px solid black;
    background-color: black;
    color: #fff;
    padding: 4px 92px 4px 92px;
    margin-top: 8px;
    box-shadow: 0 0 8px -1px black;
    cursor: pointer;
}

.inputsError {
    margin-top: 10px;
    color: red;
    font-size: 12px;
}

.invalidAuth {
    font-size: 13.5px;
    margin-bottom: 8px;
}